//Biến, mixin, class dùng chung (Chia nhỏ ra tuỳ ui) => JSS (Styled Component)
$text-c1-dark: #000;
$text-c1-light: #fff;
$text-c1-extraLight: #f6f6f6;
$text-c1-descProduct: #cbc9c9;
$text-c1-productDetail: rgb(77, 230, 77);
$text-c1-grey: rgba(0, 0, 0, 0.6);

$text-xs: 14px;
$text-base: 16px;
$text-xl: 18px;
$text-2xl: 20px;
$text-2xl1: 24px;
$text-3xl: 30px;
$text-4xl: 40px;
$text-5xl: 50px;
$text-6xl: 60px;

$text-extraLight: 200;
$text-light: 300;
$text-regular: 400;
$text-semiBold: 600;
$text-bold: 800;

$bg-c1-header: #000;
$bg-c1-light: #f5f9fe;
$bg-c1-dark: #000;
$bg-c1-button-main: #f8b653;
$bg-heart:#fb0b0b;
$bg-c1-button: #9de167;
$bg-c1-product: #f8f8f8;
$bg-c1-price: #dedddc;
$bg-c1-register: #ae18e2;
$bg-c1-button-size: rgb(207, 200, 200);
$bg-hover-button-size: grey;
$bg-c1-button-quantity: rgb(145, 145, 214);
$bg-hover-button-quantity: rgb(115, 115, 223);
$bg-c1-button-buy: rgb(228, 165, 72);
$bg-hover-button-buy: rgb(206, 113, 51);
$bg-c1-addToCard-button: #d017ee 0%, #3e20f8 51%, #d017ee 100%;
$bg-button-search: #6200ee;
$bg-title: linear-gradient(180deg, #f21299 0%, #1b02b5 100%);
$bg-hover-register: blue;
$bg-c1-loginButton:#6200ee;
$bg-c1-button-loginFB: #1877f2;
$bg-hover-button-cart: #4e13a1;
$bg-c1-cart:#d9d9d9;