//Biến, mixin, class dùng chung (Chia nhỏ ra tuỳ ui) => JSS (Styled Component)
$text-c1-dark: #000;
$text-c1-light: #fff;
$text-c1-extraLight: #f6f6f6;
$text-c1-descProduct: #cbc9c9;

$text-xs: 14px;
$text-base: 16px;
$text-xl: 18px;
$text-2xl: 20px;
$text-2xl1: 24px;
$text-3xl: 30px;
$text-4xl: 40px;
$text-5xl: 50px;
$text-6xl: 60px;

$text-extraLight: 200;
$text-light: 300;
$text-regular: 400;
$text-semiBold: 600;
$text-bold: 800;

$bg-c1-header: #000;
$bg-c1-light: #f5f9fe;
$bg-c1-dark: #000;
$bg-c1-button-main: #f8b653;
$bg-c1-button: #9de167;
$bg-c1-product: #f8f8f8;
$bg-c1-price: #dedddc;
$bg-c1-register: #ae18e2;
