.cart {
  text-align: right;
  h3 {
    text-align: left;
  }
  .table {
    thead {
      text-align: center;
      background-color: $bg-c1-cart;
      tr {
        text-align: center;

        th {
          border: 1px solid $bg-c1-cart;
        }
      }
    }
    tbody {
      tr {
        text-align: center;
        td {
        text-align: center;
          border: 1px solid $bg-c1-cart;
          img {
          }
          span {
            margin: 0 10px;
            background-color: $bg-c1-cart;
            padding: 0px 30px;
          }
          .btnQuantity {
            background-color: $bg-c1-loginButton;
            @include responsive("xs") {
              padding: 2px 5px;
            }
            @include responsive("sm") {
              padding: 2px 5px;
            }
            @include responsive("md") {
              padding: 5px 10px;
            }
            &:hover {
              &:hover {
                background-color: $bg-hover-button-cart;
                transition: 0.6s;
              }
            }
          }
          .btnGroup {
            
            width: 105%;
            .btnEdit {
              background-color: $bg-c1-loginButton;

              margin-right: 10px;
              padding: 5px 25px;
              &:hover {
                background-color: $bg-hover-button-cart;
                transition: 0.6s;
              }
            }
            .btnDelete {
              margin-left: 10px;
              padding: 5px 25px;
              transition: 0.6s;
            }
          }
        }
      }
    }
  }
  .btnSubmitCart {
    text-align: right;
    padding: 5px 25px;
  }
}
