.productDetail {
  .row {
    .col-4 {
      img {
      }
    }
    .col-8 {
      h1 {
      }
      p {
      }
      h5 {
        color: $text-c1-productDetail;
      }
      .btnSize {
        padding: 10px;
        margin-right: 10px;
        background-color: $bg-c1-button-size;
        border: none;
        &:hover {
          background-color: $bg-hover-button-size;
          transition: 0.6s;
        }
      }
      .add-to-cart {
        .quantity {
          .btnQuantity {
            background-color: $bg-c1-button-quantity;
            padding: 10px 15px;
            border: none;
            &:hover {
              background-color: $bg-hover-button-quantity;
              transition: 0.6s;
            }
          }
          span {
            margin-left: 10px;
            margin-right: 10px;
            font-size: $text-2xl;
          }
        }
        .add-to-cart-button {
          color: $text-c1-light;
          background-image: linear-gradient(to right, $bg-c1-addToCard-button);
          background-size: 200%;
          padding: 13px 36px;
          margin-top: 7px;
          border: none;
          transition: all 0.6s;
          &:hover {
            background-position: right center;
          }
        }
      }
    }
  }
}

.productRelated {
  h3 {
  }
  .row {
    .col-12 {
      img {
      }
      h1 {
        font-size: $text-3xl;
        font-weight: $text-regular;
        @include responsive("xxxs") {
          font-size: $text-xl;
        }

        @include responsive("sm") {
          font-size: $text-3xl;
        }

        @include responsive("lg") {
          font-size: $text-4xl;
        }
      }
      p {
        color: $bg-hover-button-size;
      }
      .button {
        .btnBuy {
          padding: 10px 40px;
          border: none;
          background-color: $bg-c1-button-buy;
          &:hover {
            background-color: $bg-hover-button-buy;
            transition: 0.6s;
          }
        }
        .btnPrice {
          padding: 10px 77px;
          border: none;
          background-color: $bg-c1-button-size;
          &:hover {
            background-color: $bg-hover-button-size;
            transition: 0.6s;
          }
        }
      }
    }
  }
}
