.profile-page {
  .title {
    background: $bg-title;
    padding: 5px 20px;
    h3 {
      @include text($text-4xl, $text-regular, $text-c1-light);
    }
  }
  .row {
    .avatar {
      img {
      }
    }
    .info {
      .form-fill {
        .col-6 {
          input {
            padding: 16px 12px 14px 14px;
            background: rgba(33, 33, 33, 0.08);
          }
        }
        .update {
          span {
            font-size: $text-2xl;
          }
          .gender {
            .size {
              margin: 0 5px;
            }
            input[type="radio"] {
              width: 25px;
              height: 2em;
              accent-color: $bg-c1-loginButton;
              cursor: pointer;
            }
            label {
              font-size: $text-2xl;
            }
          }
          .btn {
            background-color: $bg-c1-loginButton;
            color: $text-c1-light;
            font-size: $text-2xl;
            font-weight: $text-regular;
            border-radius: 50px;
            padding: 12px 30px;
          }
        }
      }
    }
  }
  .order {
    .title-order {
      h3 {
        @include text($text-3xl, $text-regular, $text-c1-order);
        border: 1px solid #dedddc;
        padding: 15px;
      }
    }
    .buying-history {
      span {
        background: $text-c1-placed;
        background-clip: text;
      }
    }
    table {
      thead {
        padding: 10px;
        background: $bg-c1-cart;
        @include text($text-2xl, $text-regular, $text-c1-dark);
      }
      tbody {
        @extend thead;
        background: $bg-c1-extraLight;
      }
    }
  }
}
