.profile-page {
  title {
    h3 {
    }
  }
  .avatar {
    img {
    }
  }
  .info {
    .form-fill {
      .col-6 {
        input {
          padding: 16px 12px 14px 14px;
          background: rgba(33, 33, 33, 0.08);
        }
      }
      .update {
        span {
          font-size: $text-2xl;
        }
        .gender {
          .size {
            margin: 0 5px;
          }
          input[type="radio"] {
            width: 25px;
            height: 2em;
            accent-color: $bg-c1-loginButton;
          }
          label {
            font-size: $text-2xl;
          }
        }
        .btn {
          background-color: $bg-c1-loginButton;
          color: $text-c1-light;
          font-size: $text-2xl;
          font-weight: $text-regular;
          border-radius: 50px;
          padding: 12px 30px;
        }
      }
    }
  }
}
