.container {
  h2 {
  }
  .row {
    .col-6 {
      .form-group {
        p {
          margin-bottom: 7px;
          font-size: $text-2xl;
          font-weight: $text-regular;
        }
        span {
          margin-bottom: 7px;
          font-size: $text-2xl;
          font-weight: $text-regular;
        }
        input {
        }
        button {
          margin-top: 20px;
        }
      }
      .radioGroup {
        padding: 10px 0px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        span {
          margin: 0;
        }
        input[type="radio"] {
          width: 25px;
          height: 2em;
          accent-color: $bg-c1-loginButton;
          cursor: pointer;
        }
        label {
          font-size: $text-2xl;
        }
        .radioButton {
          margin: 0 5px;
        }
      }
      .btn {
        background-color: $bg-c1-loginButton;
        color: $text-c1-light;
        font-size: $text-2xl;
        font-weight: $text-regular;
        border-radius: 50px;
        padding: 12px 30px;
      }
    }
  }
}
